.Footer-Container {
    width: 100%;
    height: 21vh;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #e50b14;
}

a.Footer-Container-Copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}

.Footer-Container-Objective {
    width: 45%;
    height: 72%;
    padding: 0 2%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    color: white;
    border-right: solid 1px #fff;
}

.Footer-Container-Socials {
    width: 45%;
    height: 72%;
    padding: 0 2%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    color: white;
    border-left: solid 1px #fff;
}

.Footer-Container-Objective label {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.Footer-Container-Objective span {
    font-size: 1.4rem;
    font-weight: 200;
}

.Footer-Container-Socials label {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.Footer-Container-Socials span {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
}

.Footer-Container-Socials span img {
    width: 3%;
    margin-right: 2%;
}

.Footer-Container-Socials span:hover {
    color: #eee;
    cursor: pointer;
}